@import url('https://fonts.googleapis.com/css2? family= Cabine & family= Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900 & display=trocar');


*{
    box-sizing: border-box;
}

body{
    display: flexbox;
    margin: 0;
    font-family: 'Nunito';
    background: rgb(124, 124, 250);
}

.header{
    background-image: linear-gradient(blue, rgb(66, 66, 82));
    margin: 0%;
    padding: 7%;
    font-size: 20px;
    text-align: center;
    color: white;
}

.headline {
    margin: 25px;
    font-size: 20px;
    text-align: justify;
}

h2 {
    text-align: center;
}

footer {
    margin: 0%;
    background-image: linear-gradient(blue, rgb(66, 66, 82));
    padding: 20px;
    text-align: center;
}